<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NMFClientId</key>
	<string>mws6egeo8h</string>
	<key>Privacy — Location Always and When In Use Usage Description</key>
	<string>해당 앱은 플레이스 정보 및 사용자의 현위치 정보를 사용하기 위해 권한이 필요합니다.</string>
</dict>
</plist>
